
@model RPPP_WebApp.Model.Purchase

<hr />
<h4>Create New Purchase</h4>
<form asp-action="Create" asp-controller="Purchase" id="createForm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="CollectedOn" class="control-label"></label>
        <input asp-for="CollectedOn" class="form-control" />
        <span asp-validation-for="CollectedOn" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Weight" class="control-label"></label>
        <input asp-for="Weight" class="form-control" />
        <span asp-validation-for="Weight" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Gain" class="control-label"></label>
        <input asp-for="Gain" class="form-control" />
        <span asp-validation-for="Gain" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Tag" class="control-label"></label>
        <input asp-for="Tag" class="form-control" />
        <span asp-validation-for="Tag" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="OrderId" class="control-label"></label>
        <select asp-for="OrderId" class="form-control" asp-items="ViewBag.OrderId"></select>
    </div>
    <div class="form-group">
        <label asp-for="HarvestId" class="control-label"></label>
        <select asp-for="HarvestId" class="form-control" asp-items="ViewBag.HarvestId">
            <option value="@ViewData["SelectedHarvestId"]" selected>@ViewData["SelectedHarvestId"]</option>
        </select>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10 mt-2 mb-3">
            <form asp-action="Create" asp-controller="Purchase" method="post">
                <button type="submit" class="btn btn-success">Create</button>
            </form>
        </div>
    </div>
</form>
<div>
    <a class="btn btn-secondary text-white mt-3" asp-action="Details" asp-controller="Harvest" asp-route-id="@Model?.HarvestId">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
