<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" asp-action="Index" asp-controller="Home">RPPP Homework - Group 15</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" asp-action="Index" asp-controller="Home">Home</a>
        </li>      
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Student 1
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" asp-action="Index" asp-controller="Plot">Plot</a></li>
            <li><a class="dropdown-item" asp-action="Index" asp-controller="Vegetation">Master-Detail</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Student 2
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="nav-link" asp-action="Index" asp-controller="Workers" asp-route-complex="true">Workers (CTD)</a></li>
            <li><a class="nav-link" asp-action="Index" asp-controller="Workers">Workers (STD)</a></li>
            <li><a class="nav-link" asp-action="Index" asp-controller="Measures">Measures (STD)</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" asp-action="Index" asp-controller="WorkerReports">Reports & Excel</a></li>
            <li><a class="dropdown-item" asp-action="Test" asp-controller="Error">Test error handling</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Student 3
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" asp-action="Index" asp-controller="Recipe">Recipe</a></li>
                        <li><a class="dropdown-item" asp-action="Index" asp-controller="PlantClass">PlantClass</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" asp-action="Index" asp-controller="RecipePlantReports">Reports</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Student 4
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" asp-action="Index" asp-controller="Harvest">Harvest</a></li>
                        <li><a class="dropdown-item" asp-action="Index" asp-controller="Purchase">Purchase</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" asp-action="Index" asp-controller="HarvestReports">Reports</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" href="/rppp/15/docs">
                    Swagger
                  </a>
                </li>           
      </ul>
    </div>
  </div>
</nav>
